# Creating my first Jupyter Notebook

#### next, I will leave my final project of Tools for Data Science

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

## Data Science Libraries
#### Python Libraries
1. Scientific Computing Libraries
* Panda
* NumPy    
2. Visualization Libraries
* Matplotlib
* Seaborn
3. High-Level - Machine Learning and Deep Learning 
* Scikit-learn
* Keras
4. Deep Learning Libraries
* TensorFlow
* Pytorch

In [ ]:
  PostgreSQL NoSQL MongoDB Apache CouchDB, and Apache Cassandra; and file-based tools such as the Hadoop File System or Cloud File systems like Ceph. Finally,Elasticsearch

#### Data Science Tools

| Data Management | Data Integration | Data Visualization  | Model Deployment    | Code Asset Management
| --------------- |:----------------:| :------------------:| :------------------:| :------------------:|
| MySQL           | Airflow          | Hue                 | PreditcionIO        | Git
| No SQL          | Kafka            |   Kibana            | Mleap               | GitHub
| MongoDB         | Spark            |    Superset         | Seldom              | GitLab
| Apache          | Cubeflow         |                     | TenserFlow          |

##### This is a simple arithmetic expression to multiply then add integers
(5*2)+4
14

In [6]:
a = 4
b = 6
c = a*b
c

24

In [10]:
minut = 120
hours = minut / 60
hours

2.0

# Victor Camargo
### Autor's Name